<%- include('header') %>




<h1 class="display-1 mt-4 mb-4">$Dashboard Metrics$</h1>

<div class="row">

    <div class="col">
        <div class="box">
            <a href="/"><button class="btn btn-lg btn-dark" style="float: right;">Go Home</button></a>
        
            <h3 class="display-3">$300</h3>
            <p class="lead">Total Daily Spend</p>
        
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="box">
            <h3 class="display-3">$8,000</h3>
            <p class="lead">Total Grocery Spend</p>

        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <h3 class="display-3">$15,000</h3>
            <p class="lead">Total Fun Spend</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <h3 class="display-3">$15,000</h3>
            <p class="lead">Total Bills Spend</p>
        </div>
    </div>

</div>


<div class="row">

    <div class="col">
        <div class="box">
        
            <h3 class="display-3">$38,000</h3>
            <p class="lead">Total Yearly Estimated Spend</p>
        
        </div>
    </div>
</div>





<%- include('footer') %>