html{
    min-height: 1000px;
}

body{
    background-color: #63cff7;
    color: #252a34;
    text-align: left;
}

h1 {
    padding-left: 5%;
    padding-right: 5%;
}

h3{
    color: #eaeaea;
}

table {
    background-color: #eaeaea;
    /* font-family: 'Roboto', sans-serif; */
}

p {
    color: #eaeaea;
}

a {
    color: #ff2e63;
}

a:hover {
    color:#63cff7;
}

button, optgroup {
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: #252a34;
    color: #eaeaea;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.col{
    padding: 0%;
}

.container {
    padding: 2%;
}

.box {
    background-color: #ff2e63;
    border-radius: 1%;
    margin: 5%;
    padding: 3%;
}

.middle-box {
    background-color: #252a34;
    color: #eaeaea;
    border-radius: 1%;
    margin: 6%;
    padding: 4%;
}

.input {
    height: 50px;
}

.font::placeholder, #select-category{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.middle-dash{
    padding-left: 3%; 
    padding-right: 3%;
}

#metrics-btn {
    float: right;
}